table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  

 .footer-class{
    margin: 12px;
    padding: 10px;
    text-align: center;


  }


  .searchForm{
    margin: 12px;
    padding: 10px;
  }